@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  main {
    @apply h-full;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  html {
    font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
      Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
      source-sans-pro, sans-serif;
    font-weight: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
      "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
    font-weight: normal;
  }
}
